{% extends 'layout.html' %} {% load static %} {% load bootstrap %} {% load crispy_forms_tags %} {% block title %}
<title>Login</title>{% endblock %} {% block content %}

<style>
  body {
    font-family: Poppins;
  }
  .form-input {
    position: relative;
  }
  .form-input span {
    position: absolute;
    top: 11px;
    padding-left: 15px;
    color: #007bff;
  }
  .form-input input {
    padding-left: 35px;
  }
  .form-input input::placeholder {
    padding-left: 5px;
  }

  .forget-link,
  .register-link {
    color: #007bff;
    font-weight: 500;
    text-decoration: none;
  }

  .forget-link:hover,
  .register-link:hover {
    color: #0069d9;
    text-decoration: underline;

  }
</style>

<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center mt-4">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        {% include 'message.html'%}

        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-4">
            <div class="d-flex justify-content-center">
              <img class="mt-0" src="{% static 'images/elibtransparent.png' %}" alt="" />
            </div>
            <form method="POST" class="form-box px-3">
              {%csrf_token%}
              <div class="form-input form-outline mb-4">
                <span><i class="fa fa-user fa-sm" aria-hidden="true"></i></span>
                <input
                  type="text"
                  id="username"
                  name="username"
                  placeholder="Username"
                  class="form-control form-control-lg"
                />
              </div>

              <div class="form-input form-outline mb-4">
                <span><i class="fa fa-lock fa-sm" aria-hidden="true"></i></span>

                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="********"
                  class="form-control form-control-lg"
                />
              </div>

              <!-- Checkbox -->
              <div class="d-flex justify-content-between mb-2">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" onclick="passwordToggle()" />
                  <label class="custom-control-label" for="cb1">Show Password</label>
                </div>

              </div>

              <div class="mb-4 ">
                <button class="btn btn-primary btn-block text-center text-uppercase w-100 py-2 mt-4" type="submit">Login</button>
                <hr class="my-4" />
                </div>
              <div class="text-center">
                <label class="form-check-label" for="form1Example3">Don't have and account? </label>
                <a href="/signup" class="ml-2 register-link">Sign Up</a>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function passwordToggle() {
    var x = document.getElementById("password");

    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

{% endblock %}
