{% load static %}

<style>
  body {
    font-family: "Manrope", sans-serif;
  }
  .l-btn {
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
  }
  .main-nav {
    position: relative;
  }

  .s-btn {
    position: absolute;
    display: block;
    float: right;
    right: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-right: 2em;
    color: #ffffff;
  }
  .s-btn:hover {
    color: #5bc3ee;
  }
  .l-btn i {
    padding-left: 10px;
  }

  @media (max-width: 991px) {
    .l-btn i {
      padding-left: 18px;
    }

    .s-btn {
      position: unset;
      padding: unset;
      color: #ffffff;
    }
    .s-btn:hover {
      color: #5bc3ee;
    }
  }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark main-nav">
  <div class="container-fluid overlay" id="navbar">
    <a id="logo" class="navbar-brand" href="/">
      <img src="{% static 'images/elibtransparent.png' %}" alt="eLibrary" width="64" height="64" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="False"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item topnav">
          <a class="nav-link" aria-current="page" href="/"> Home</a>
        </li>

        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link {{activate_category_user}}" href="/books/show-categories-user">Category</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{activate_book_user}}" href="/books/show-books-user">Books</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{activate_author}}" href="/books/show-authors-user">Authors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{activate_myorders}}" href="/books/user-all-order">Orders</a>
        </li>

        <li class="nav-item">
          <a class="nav-link {{activate_contact}}" href="/contact-us">Contact Us</a>
        </li>
      </ul>

      <ul class="d-flex nav-item navbar-nav mb-lg-0">
        <a
          class="nav-link mt-2 {{activate_my_cart}}"
          href="/books/show-cart-items"
          style="padding: 0.7rem 0rem !important"
        >
          <!-- Cart -->
          <i class="fa fa-cart-plus m-2" aria-hidden="true"> </i>
          <span
            class="position-absolute top-5 translate-middle badge rounded-pill"
            style="background-color: rgb(25, 125, 179)"
          >
            {{cart_count}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>

        <li class="nav-item nav-link dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="/{{request.user.profile.profile_pic}}" width="35" alt="..." />
            {{request.user.profile.firstname}} {{request.user.profile.lastname}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/user-profile"><i class="fas fa-user pe-3 fa-sm"></i>My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="/update-user-profile"
                ><i class="fas fa-pen pe-3 fa-sm"></i>Update profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/change-password"><i class="fas fa-key pe-3 fa-sm"></i>Change password</a>
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item" href="/books/my-pending-order"
                ><i class="fas fa-spinner pe-2"></i> My Pending Orders</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/books/my-approved-order"
                ><i class="fas fa-thumbs-up fa-sm pe-2"> </i> My Approved Orders</a
              >
            </li>

            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="nav-item">
              <a
                class="l-btn nav-link text-danger mr-auto dropdown-item pe-2"
                data-bs-toggle="modal"
                data-bs-target="#reg-modal"
              >
                <i class="fas fa-sign-out-alt pe-2"></i> Log Out
              </a>
            </li>
          </ul>
        </li>

        <!-- To add space in right -->
        <li class="nav-item">
          <a class="l-btn nav-link btn-lg mx-2 mr-auto text-dark" href=""> </a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link {{activate_contact}}" href="/contact-us">Contact Us</a>
        </li>
        <li class="d-flex nav-item">
          <a class="s-btn" href="/signin">
            Sign In
            <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="modal-title">
          <i class="fas fa-exclamation-triangle pe-2"></i> You are about to logout!
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <a href="/signout" class="btn" style="color: #fff; background-color: #5bc3ee">Ok</a>
        <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>
