{% load static %}

<style>
  body {
    font-family: Poppins;
  }
  a {
    text-decoration: none;
  }
  #offcanvasWithBackdropCloseButton {
    color: #fff !important;
  }
</style>

<header>
  <nav class="navbar navbar-expand shadow sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admins/dashboard">
        <img
          src="{% static 'images/elibtransparent.png' %}"
          alt="eLibrary"
          width="64"
          height="64"
          style="margin-left: 10px"
        />
      </a>
    </div>
    <div style="background-color: #5bc3ee">
      <button
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBackdrop"
        aria-controls="offcanvasWithBackdrop"
        class="btn text-white"
      >
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}

      <a class="text-light px-4">
        Welcome
        <span style="color: #5bc3ee; font-weight: 600"> {{request.user.username}} </span>
      </a>
      {% endif %}
    </ul>
  </nav>
</header>

<section>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel"
  >
    <div class="offcanvas-header bg-dark text-white justify-content-center">
      <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">ADMIN PANEL</h5>
      <button
        type="button"
        class="btn btn-close text-white"
        id="offcanvasWithBackdropCloseButton"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-unstyled">
        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_dashboard }} " href="/admins/dashboard"
            ><i class="fas fa-users-cog"></i> Dashboard</a
          >
        </li>

        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <h4 class="m-2 p-2">BOOKS</h4>
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>

        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_category }}" href="/books/get-category"
            ><i class="fas fa-layer-group"></i> Books Category</a
          >
        </li>

        <li>
          <a class="dropdown-item mfa-rotate-270 m-2 p-2 {{ activate_books }}" href="/books/get-book"
            ><i class="fas fa-book"></i> Books</a
          >
        </li>

        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_ordered_books }}" href="/admins/all-orders "
            ><i class="fas fa-book"></i> Ordered Books</a
          >
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <h4 class="m-2 p-2">USERS</h4>
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_authors }}" href="/books/get-author"
            ><i class="fas fa-pen-alt"></i> Authors</a
          >
        </li>

        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_users }}" href="/admins/all-users"
            ><i class="fas fa-users"></i> Users</a
          >
        </li>

        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_admins }}" href="/admins/all-admins"
            ><i class="fas fa-user-tie"></i> Admins</a
          >
        </li>

        <li>
          <hr class="dropdown-divider" />
        </li>

        <li>
          <a class="dropdown-item m-2 p-2 {{ activate_settings }}" href="/admins/admin-change-password"
            ><i class="fas fa-cog"></i> Settings</a
          >
        </li>

        <li>
          <hr class="dropdown-divider" />
        </li>

        <li>
          <a
            class="nav-link text-danger mr-auto dropdown-item {{ activate_logout }}"
            data-bs-toggle="modal"
            data-bs-target="#reg-modal"
          >
            <i class="fas fa-sign-out-alt"></i> Log Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Logout warning Modal -->
<section>
  <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="modal-title">
            <i class="fas fa-exclamation-triangle pe-2"></i> You are about to logout!
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-footer">
          <a href="/signout" class="btn" style="color: #fff; background-color: #5bc3ee">Ok</a>
          <button type="button" data-bs-dismiss="modal" class="btn btn-outline-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>
