<button class="btn btn-primary m-3" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBackdrop"
        aria-controls="offcanvasWithBackdrop"><i class="fa fa-bars fa-2x"></i>
</button>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
     aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header bg-dark text-white justify-content-center">
        <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">ADMIN PANEL</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled">
            <li><a class="dropdown-item m-3 p-3" href="/admins/dashboard"><i class="fas fa-users-cog"></i>
                Dashboard</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item m-3 p-3" href="/books/get-category"><i class="fas fa-layer-group"></i>
                Books Category</a></li>

            <li><a class="dropdown-item m-3 p-3" href="/books/get-book"><i class="fas fa-book"></i>
                Books</a></li>


            <li><a class="dropdown-item m-3 p-3" href="/admins/all-order "><i class="fas fa-book"></i>
                Ordered Books</a></li>

            <li><a class="dropdown-item m-3 p-3" href="/books/get-author"><i class="fas fa-pen-alt"></i>
                Author</a></li>

             <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item m-3 p-3" href="/admins/users"><i class="fas fa-users"></i>
                Users</a></li>

            <li><a class="dropdown-item m-3 p-3" href="/admins/admins"><i class="fas fa-user-tie"></i>
                Admins</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item m-3 p-3" href="/password_change"><i class="fas fa-cog"></i>
                Settings</a></li>

             <li>
                <hr class="dropdown-divider">
            </li>

            <li style="width:300px !important;">
                <a class="btn btn-sm btn-danger mx-2 text-white m-3 p-3 " class="logout_btn w-100" href="/logout">
                    <i class="fas fa-sign-out-alt"></i> Logout</a></li>

        </ul>
    </div>
</div>











