{% extends 'admin_layout.html' %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %}
<title>Add Author  | eLibrary Admin</title>
{% endblock%}
{% block content %}
<style>
    .asteriskField {
        color: red;
    }

</style>
<div class="container-fluid" style="min-height:100vh;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-4 p-4 text-dark">Add New Author</h1>
            {% include 'message.html' %}
            <div class="card py-2 px-4 shadow">
                <form class=" form myForm mt-4" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_author | crispy }}
                    <button type="submit" class="btn btn-primary mt-3 mb-3 shadow">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter Author name"
    form_fields[2].placeholder = "Enter First name"
    form_fields[3].placeholder = "Enter Last name"
    form_fields[4].placeholder = "Enter Email address"

    for(field in form_fields){
    form_fields[field].className += ' my-3'
   }
</script>
{% endblock %}