{% extends 'admin_layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Add Category</title>
{% endblock%}
{% block content %}
<style>


</style>

<div class="container-fluid" id="m-container" style="min-height:100vh;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-4 p-4 myForm text-dark">Add New Category</h1>
            {% include 'message.html' %}
            <div class="card py-2 px-2">
                <form class="form myForm mt-4" action="" method="POST">
                    {% csrf_token %}
                    {{ form_category | bootstrap_horizontal }}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter category name"
    form_fields[2].placeholder = "Enter Category description"

    for(field in form_fields){
    form_fields[field].className += ' my-3'
   }

</script>
{% endblock %}