{% extends 'admin_layout.html' %} {% load bootstrap %} {% block title %}

<title>All Author</title>
{% endblock%} {% block content %}
<div class="container-fluid" style="min-height: 100vh">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-center">All Author</h1>
      {% include 'message.html' %}
      <div class="card py-2 px-2">
        <a class="btn btn-primary btn-sm ms-auto mb-2" href="/books/author-form">Add New Author</a>

        <div class="card card-body">
          <form class="form myForm mt-4" method="get">
            {{ author_filter.form | bootstrap_horizontal }}
            <button type="submit" class="btn btn-primary btn-sm mt-3">Search</button>
          </form>
        </div>
        <table class="table-striped">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
          {% for i in authors %}
          <tr>
            <td>{{ i.firstname }}</td>
            <td>{{ i.lastname }}</td>
            <td>{{ i.email }}</td>
            <td><img src="/{{i.profile_pic}}" width="200" /></td>
            <td>
              <a href="/books/update-author/{{i.id}}" class="btn btn-primary btn-sm">
                <i class="fa fa-pencil-square-o fa-x" aria-hidden="true"></i> Edit</a
              >
              &nbsp;
              <a
                href="/books/delete-author/{{i.id}}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure want to delete this author?')"
              >
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
