{% extends 'admin_layout.html' %} {% load static%} {% load crispy_forms_tags %} {% load bootstrap %} {% block title %}
<title>All Books</title>
{% endblock%} {% block content %}
<link rel="stylesheet" href="{% static 'css/search_form.css' %}" />
<div class="container-fluid mb-4" style="min-height: 100vh">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="text-center mt-4">All Books</h1>
      {% include 'message.html' %}
      <div class="card py-2 px-2">
        <a class="btn btn-primary w-100 py-2 ms-auto px-4 shadow" href="/books/book-form"> <i class="fas fa-plus-circle"></i> Add New Book</a>

        <div class-="card card-body">
          <form class="form myForm search_form py-3 mt-4" method="get">
            {{ book_filter.form | crispy }}
            <button type="submit" class="btn btn-secondary mt-3 search_btn shadow">Search</button>
          </form>
        </div>
        <div class="table-responsive shadow mb-2 mt-2 p-2">
          <table class="table table-striped mt-4">
            <tr>
              <th>Book Name</th>
              <th>Author Name</th>
              <th>Price</th>
              <th>Image</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
            {% for i in books %}
            <tr>
              <td>{{ i.book_name }}</td>
              <td>{{ i.book_author }}</td>
              <td>Rs. {{ i.book_price }}</td>
              <td><img src="/{{i.book_image}}" style="object-fit: cover" width="100" height="100" /></td>
              <td>{{ i.category.category_name }}</td>
              <td>
                <a class="btn text-white mt-2" href="/books/update-book/{{i.id}}" style="background-color: #5bc3ee">
                  <i class="fa fa-pencil-square-o fa-x" aria-hidden="true"></i>
                </a>
                <a
                  class="btn text-white mt-2"
                  href="/books/delete-book/{{i.id}}"
                  onclick="return confirm('Are you sure to delete this book?')"
                  style="background-color: #dd4e67"
                >
                  <i class="fa fa-trash fa-x" aria-hidden="true"> </i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = "Enter Book name"

    for(field in form_fields){
    form_fields[field].className += ' my-3'
   }


</script>
{% endblock %}
