{% extends 'layout.html' %} {% load static %} {% block title %}
<title>Users Author</title>
{% endblock %} {% block content %}
<div id="m-container3">
  <div class="container" style="min-height: 100vh">
    <h1 class="d-flex justify-content-center p-3 text-white">ALL AUTHORS</h1>
    <div class="row justify-content-around">
      {% for i in authors %}

      <div class="card col-md-3 m-3" data-aos="zoom-in-up">
        <img src="/{{i.profile_pic}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">{{i.author_name}}</p>
          <h5 class="card-title">{{i.email}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
