{% extends 'layout.html' %}
{% block title %}
<title>All Orders | elLibrary</title>
{% endblock title %}
{% block content %}

{% if count == 0 %}
<h2 class="text-center mt-4 p-3 text-dark text-uppercase" style="margin-bottom: 27rem">You haven't order any books yet.</h2>
{% else %}
<div class="container-fluid" id="m-container6" style="min-height:100vh;">
    <div class="row">
        <div class="col mt-4 mb-4">
            <h1 class="text-center text-uppercase m-4 font-weight-bold ">My Order History</h1>
            {% include 'message.html' %}
            <div class="card shadow-lg ">
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Item Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Ordered Date</th>
                            <th>Ordered Time</th>
                            <th>Contact No</th>
                            <th>Delivered Address</th>
                            <th>Delivered Status</th>


                        </tr>
                        </thead>
                        <tbody class="align-items-center">
                        {% for item in items %}
                        <tr>
                            <td>{{item.book.book_name}}</td>
                            <td>Rs. {{item.book.book_price}}</td>
                            <td>{{item.quantity}}</td>
                            <td>Rs. {{item.total_price}}</td>
                            <td>{{item.created_date}}</td>
                            <td>{{item.created_time}}</td>
                            <td>{{item.contact_no}}</td>
                            <td>{{item.contact_address}}</td>
                            {%if item.status == "Approved" %}
                            <td class="text-success" >
                            <bold>DELIVERED</bold>    
                            </td>
                            {% elif item.status == "Pending" %}
                            <td class="text-danger" >
                                PENDING
                            </td>
                            {%endif%}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
</div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endif %}
{% endblock %}