{% extends 'admin_layout.html' %} {% load bootstrap %} {% load static %} {% block title %}

<title>Admin Dashboard | eLibrary</title>

{% endblock title %} {% block content %}

<style>
  body {
    background-color: #353a40;
  }
  .card-body a {
    text-decoration: none;
    color: #fff;
  }
</style>

<div class="container-fluid" style="min-height: 100vh">
  <h1 class="d-flex justify-content-center p-5" style="color: #5bc3ee">ADMIN DASHBOARD</h1>
  {% include 'message.html' %}
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
      <a href="/books/get-category">
        <div class="card shadow-lg border-0 py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-secondary fw-normal display-6 h5 mb-0">
                  <span> Categories: <span class="text-dark">{{ totalCategories }}</span></span>
                </div>
              </div>
              <div class="col-auto" style="color: black"><i class="fas fa-table fa-3x"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
      <a href="/books/get-book">
        <div class="card shadow border-0 py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-secondary fw-normal display-6 h5 mb-0">
                  <span> Books: <span class="text-dark">{{ totalBooks }}</span></span>
                </div>
              </div>
              <div class="col-auto" style="color: black"><i class="fas fa-book fa-3x"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
      <a href="/admins/all-orders">
        <div class="card shadow border-0 py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-secondary fw-normal display-6 h5 mb-0">
                  <span> Order Books: <span class="text-dark">{{ totalOrders }}</span></span>
                </div>
              </div>
              <div class="col-auto" style="color: black"><i class="fas fa-box-open fa-3x"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
      <a href="/books/get-author">
        <div class="card shadow border-0 py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-secondary fw-normal display-6 h5 mb-0">
                  <span> Authors: <span class="text-dark">{{ totalAuthors}}</span></span>
                </div>
              </div>
              <div class="col-auto" style="color: black"><i class="fas fa-user-tie fa-3x"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
      <a href="/admins/all-users">
        <div class="card shadow border-0 py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-secondary fw-normal display-6 h5 mb-0">
                  <span> Users: <span class="text-dark">{{ totalUsers }}</span></span>
                </div>
              </div>
              <div class="col-auto" style="color: black"><i class="fas fa-user fa-3x"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-6 col-md-6 col-xl-4 mb-4">
      <a href="/admins/all-admins">
        <div class="card shadow border-0 py-2">
          <div class="card-body">
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-secondary fw-normal display-6 h5 mb-0">
                  <span> Admins: <span class="text-dark">{{ totalAdmins }}</span></span>
                </div>
              </div>
              <div class="col-auto" style="color: black"><i class="fas fa-user-shield fa-3x"></i></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{%endblock content %}
