{% extends 'admin_layout.html' %} {% load bootstrap %} {% load static %} {% block title %}

<title>Admin Dashboard | eLibrary</title>

{% endblock title %} {% block content %}

<h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis delectus cumque similique sapiente laboriosam
  quo, nesciunt fugiat illum quibusdam, magnam mollitia magni veritatis at vel rem natus beatae? Officiis, illo deserunt
  autem repellat nostrum ab fugit sed quos nulla sit! Rerum eaque a magni illo.
</h1>

{%endblock content %}
